@using System
@using System.IO
@using System.Linq
@using System.Net
@using System.Web
@using System.Windows.Media.Media3D
@using ATOMUltimate.Model
@using RazorEngine.Text

@functions {

    public Atom Atom
    {
        get { return @Model.Atom; }
    }

}
@helper RawText(string s)
{ @(new RawString(s)) }


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <style>
        @Model.CSS 
    </style>
</head>
<body style="background-color: #e5e5e5">
<h1>
    @if (Atom.Link != null && @Atom.Link.FirstOrDefault(link => link.Rel.ToLower() == "alternate") != null)
    {
        <a href="@Atom.Link.First(link => link.Rel.ToLower() == "alternate").Href">@Atom.Title</a>
    }
    else
    {
        @Atom.Title
    }

</h1>
<hr/>
<span>@Atom.Subtitle</span>
<br/>
@if (@Atom.Author != null && @Atom.Author.Length > 0)
{
    <span>
        By
        @foreach (var person in Atom.Author)
        {
            if (!string.IsNullOrEmpty(person.Uri))
            {
                <a href="@person.Uri" class="label label-default">@person.Name</a>
            }
            else if (!string.IsNullOrEmpty(person.Email))
            {
                <a href="mailto:@person.Email" class="label label-default">@person.Name</a>
            }
            else
            {
                <span class="label label-default">@person.Name</span>
            }
        }
    </span>
}

<br/>
<br/>
<br/>
<div class="container">

    @foreach (Entry entry in Atom.Entries)
    {
        <div class="panel @if (!entry.Przeczytany)
                          {
                              <text>panel-info</text>
                          }">

            <div class=" panel-heading">
                <a href="@entry.Link.First(link => link.Rel.ToLower() == "alternate").Href">
                    <h3 class="panel-title">
                        @entry.Title
                        @if (!entry.Przeczytany)
                        {
                            <span class="label label-info">New</span>
                        }
                    </h3>
                </a>
            </div>
            <div class="panel-body">
                <span class="small">@entry.Updated</span>
                @if (entry.Summary != null && entry.Summary != null)
                {
                    @RawText(@entry.Summary.ToString())
                }
                <hr/>
                @if (entry.Content != null && entry.Content.Value != null)
                {
                    @RawText(@entry.Content.Value)
                }



            </div>
            <div class="panel-footer">
                @if (entry.Category != null && entry.Category.Length > 0)
                {
                    @:Category:
                    foreach (Category category in entry.Category)
                    {
                        <span class="label label-default">@category.Term</span>
                    }
                }

                @if (entry.Author != null && entry.Author.Length > 0)
                {
                    @:By:
                    foreach (Person person in entry.Author)
                    {
                        if (!string.IsNullOrEmpty(person.Uri))
                        {
                            <a href="@person.Uri" class="label label-default">@person.Name</a>
                        }
                        else if (!string.IsNullOrEmpty(person.Email))
                        {
                            <a href="mailto:@person.Email" class="label label-default">@person.Name</a>
                        }
                        else
                        {
                            <span class="label label-default">@person.Name</span>
                        }
                    }
                }
            </div>

        </div>
    }

</div>


</body>
</html>